@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --ink-black: #04151F;
    --dark-slate-grey: #183A37;
    --wheat: #EFD6AC;
    --burnt-orange: #C44900;
    --midnight-violet: #432534;
}

/* Normalize page */
html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--ink-black);
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}

/* Header Styles */
header{
    width: 70%;
    margin: 40px auto;
    display: flex;
    
}

header h1{
    margin: 0;
    font-weight: 600;
    line-height: 30px;
}

/* Add button */
.add-btn{
    margin-left: 20px;
    align-self: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 100%;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.add-btn:hover{
    transform: rotate(90deg);
    background-color: var(--burnt-orange);
    color: white;
}

.add-btn span{
    display: block;
    aspect-ratio: 1/1;
}

/* Dialog styles */
dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
}

dialog{
    min-width: 420px;
    border: none;
    padding: 35px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
}

.modal-header h2{
    margin:0;
}

.modal-header .close-modal-btn{
    display: block;
    font-size: 24px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.modal-header .close-modal-btn:hover{
    color: darkred;
}

/* Form styles */
form{
    margin-top: 20px;
}

form .form-row{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form label{
    margin-bottom: 5px;
}

form input[type='text'], form input[type='number']{
    border-radius: 0;
    border: 1px solid rgba(0,0,0,0.5);
    padding: 7.5px;
}

.form-row-col{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form input[type='button'], form input[type='submit']{
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

form input[type='button']:hover, form input[type='submit']:hover{
    background-color: black;
    color: white;
}

.cancel-btn{
    background-color: darkred;
    color: white;
}

.submit-btn{
    background-color: var(--dark-slate-grey);
    color: white;
}

/* Books Container */
.books-container{
    width: 70%;
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 30px;
}

.books-container .book{
    padding: 15px;
    border-radius: 10px;
    background-color: var(--midnight-violet);
    color: var(--wheat);
}

.book p{
    font-size: 16px;
}

.book h3{
    font-weight: 800;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.edit-btn{
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    border-radius: 10px;
}