:root{
    --ink-black: #04151F;
    --dark-slate-grey: #183A37;
    --wheat: #EFD6AC;
    --burnt-orange: #C44900;
    --midnight-violet: #432534;
}

/* Normalize page */
html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--ink-black);
    color: white;
}

/* Header Styles */
header{
    width: 70%;
    margin: 40px auto;
}

header h1{
    margin: 0;
}